USE [master]
GO
/****** Object:  Database [TeknicityDB]    Script Date: 3/27/2026 9:19:11 PM ******/
CREATE DATABASE [TeknicityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TeknicityDB_Data', FILENAME = N'C:\Users\PCnet Computers\TeknicityDB.mdf' , SIZE = 9216KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TeknicityDB_Log', FILENAME = N'C:\Users\PCnet Computers\TeknicityDB.ldf' , SIZE = 9920KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeknicityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeknicityDB]
GO
/****** Object:  Table [dbo].[CustomerBills]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerBills](
	[ticketid] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[device] [nvarchar](100) NULL,
	[issue] [nvarchar](max) NULL,
	[parts_cost] [decimal](10, 2) NULL,
	[labor_cost] [decimal](10, 2) NULL,
	[tax] [decimal](10, 2) NULL,
	[total_amount] [decimal](10, 2) NULL,
	[notes] [nvarchar](max) NULL,
	[created_date] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[pass] [int] NULL,
	[repair_cycle] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ticketid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceBrands]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceBrands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brand] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryCategory]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartRequest]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartRequest](
	[ticket_id] [int] NOT NULL,
	[brand_name] [varchar](100) NOT NULL,
	[part_name] [varchar](100) NOT NULL,
	[quantity] [int] NOT NULL,
	[urgency] [varchar](50) NULL,
	[requestdate] [datetime] NOT NULL,
	[status] [varchar](50) NULL,
	[actions] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartUsageLog]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartUsageLog](
	[usage_id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_id] [int] NULL,
	[inventory_id] [int] NULL,
	[part_name] [nvarchar](100) NULL,
	[quantity_used] [int] NULL,
	[issue_date] [datetime] NULL,
	[repair_cycle] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TicketPartCycle] UNIQUE NONCLUSTERED 
(
	[ticket_id] ASC,
	[inventory_id] ASC,
	[repair_cycle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Repairman]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repairman](
	[repairman_id] [int] IDENTITY(1,1) NOT NULL,
	[repairman_name] [nvarchar](100) NOT NULL,
	[repairman_email] [nvarchar](100) NOT NULL,
	[repairman_contact] [nvarchar](15) NOT NULL,
	[specialty] [nvarchar](50) NULL,
	[experience] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[repairman_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairTicket]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairTicket](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[brand] [nvarchar](50) NOT NULL,
	[issue_description] [nvarchar](255) NOT NULL,
	[customer_name] [nvarchar](100) NOT NULL,
	[phone_no] [nvarchar](15) NOT NULL,
	[created_date] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[repairman_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierInventory]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierInventory](
	[inventory_id] [int] IDENTITY(1,1) NOT NULL,
	[part_name] [nvarchar](100) NOT NULL,
	[category] [nvarchar](50) NULL,
	[stock_quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[MobileNo] [nvarchar](10) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[RepairmanID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MobileNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerBills] ADD  DEFAULT ((0.00)) FOR [parts_cost]
GO
ALTER TABLE [dbo].[CustomerBills] ADD  DEFAULT ((0.00)) FOR [labor_cost]
GO
ALTER TABLE [dbo].[CustomerBills] ADD  DEFAULT ((0.00)) FOR [tax]
GO
ALTER TABLE [dbo].[CustomerBills] ADD  DEFAULT ((0.00)) FOR [total_amount]
GO
ALTER TABLE [dbo].[CustomerBills] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[CustomerBills] ADD  DEFAULT ((1)) FOR [repair_cycle]
GO
ALTER TABLE [dbo].[PartUsageLog] ADD  DEFAULT (getdate()) FOR [issue_date]
GO
ALTER TABLE [dbo].[PartUsageLog] ADD  DEFAULT ((1)) FOR [repair_cycle]
GO
ALTER TABLE [dbo].[Repairman] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[RepairTicket] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[SupplierInventory] ADD  DEFAULT ('In Stock') FOR [status]
GO
ALTER TABLE [dbo].[CustomerBills]  WITH CHECK ADD  CONSTRAINT [FK_CustomerBills_RepairTicket] FOREIGN KEY([pass])
REFERENCES [dbo].[RepairTicket] ([ticket_id])
GO
ALTER TABLE [dbo].[CustomerBills] CHECK CONSTRAINT [FK_CustomerBills_RepairTicket]
GO
ALTER TABLE [dbo].[RepairTicket]  WITH CHECK ADD  CONSTRAINT [FK_RepairTicket_Repairman] FOREIGN KEY([repairman_id])
REFERENCES [dbo].[Repairman] ([repairman_id])
GO
ALTER TABLE [dbo].[RepairTicket] CHECK CONSTRAINT [FK_RepairTicket_Repairman]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Repairman] FOREIGN KEY([RepairmanID])
REFERENCES [dbo].[Repairman] ([repairman_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Repairman]
GO
ALTER TABLE [dbo].[Repairman]  WITH CHECK ADD CHECK  (([specialty]='Data Recovery' OR [specialty]='Laptop Repair' OR [specialty]='Tablet Repair' OR [specialty]='Android Repair' OR [specialty]='iPhone Repair'))
GO
ALTER TABLE [dbo].[Repairman]  WITH CHECK ADD CHECK  (([status]='Inactive' OR [status]='Active'))
GO
ALTER TABLE [dbo].[SupplierInventory]  WITH CHECK ADD CHECK  (([status]='Out of Stock' OR [status]='Low Stock' OR [status]='In Stock'))
GO
/****** Object:  StoredProcedure [dbo].[Teknicity_AddPartUsage]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--USE [TeknicityDB]
--GO
--/****** Object:  StoredProcedure [dbo].[Teknicity_UsageReport]    Script Date: 1/2/2026 12:21:17 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--ALTER PROCEDURE [dbo].[Teknicity_UsageReport]
--    @ActionType INT,           -- 1=Daily, 2=Monthly, 3=Range, 4=TicketCost
--    @Days INT = NULL,
--    @Months INT = NULL,
--    @StartDate DATETIME = NULL,
--    @EndDate DATETIME = NULL,
--    @ticket_id INT = NULL,     
--    @repair_cycle INT = 1,     -- Default repair cycle = 1

--    @ResultStatusCode INT OUTPUT,
--    @Result VARCHAR(MAX) OUTPUT,
--    @ExceptionMessage VARCHAR(MAX) OUTPUT
--AS
--BEGIN
--    SET NOCOUNT ON;

--    BEGIN TRY
--        SET @ResultStatusCode = 1;
--        SET @Result = 'Success';
--        SET @ExceptionMessage = NULL;

--        --------------------------------------------------
--        -- ACTION TYPE 1 : DAILY REPORT
--        --------------------------------------------------
--        IF @ActionType = 1
--        BEGIN
--            SELECT 
--                CONVERT(DATE, P.issue_date) AS usage_date,
--                I.category,
--                P.part_name,
--                SUM(P.quantity_used) AS total_used,
--                ISNULL(I.stock_quantity, 0) AS current_stock
--            FROM dbo.PartUsageLog P
--            LEFT JOIN dbo.SupplierInventory I 
--                ON P.inventory_id = I.inventory_id
--            WHERE P.issue_date >= DATEADD(DAY, -@Days, GETDATE())
--            GROUP BY CONVERT(DATE, P.issue_date), I.category, P.part_name, I.stock_quantity
--            ORDER BY usage_date DESC, I.category, P.part_name;
--            RETURN;
--        END

--        --------------------------------------------------
--        -- ACTION TYPE 2 : MONTHLY REPORT
--        --------------------------------------------------
--        ELSE IF @ActionType = 2
--        BEGIN
--            SELECT 
--                FORMAT(P.issue_date, 'yyyy-MM') AS usage_month,
--                I.category,
--                P.part_name,
--                SUM(P.quantity_used) AS total_used,
--                ISNULL(I.stock_quantity, 0) AS current_stock
--            FROM dbo.PartUsageLog P
--            LEFT JOIN dbo.SupplierInventory I 
--                ON P.inventory_id = I.inventory_id
--            WHERE P.issue_date >= DATEADD(MONTH, -@Months, GETDATE())
--            GROUP BY FORMAT(P.issue_date, 'yyyy-MM'), I.category, P.part_name, I.stock_quantity
--            ORDER BY usage_month DESC, I.category, P.part_name;
--            RETURN;
--        END

--        --------------------------------------------------
--        -- ACTION TYPE 3 : DATE RANGE REPORT
--        --------------------------------------------------
--        ELSE IF @ActionType = 3
--        BEGIN
--            SELECT 
--                CONVERT(DATE, P.issue_date) AS usage_date,
--                I.category,
--                P.part_name,
--                SUM(P.quantity_used) AS total_used,
--                ISNULL(I.stock_quantity, 0) AS current_stock
--            FROM dbo.PartUsageLog P
--            LEFT JOIN dbo.SupplierInventory I 
--                ON P.inventory_id = I.inventory_id
--            WHERE (@StartDate IS NULL OR P.issue_date >= @StartDate)
--              AND (@EndDate IS NULL OR P.issue_date <= @EndDate)
--            GROUP BY CONVERT(DATE, P.issue_date), I.category, P.part_name, I.stock_quantity
--            ORDER BY usage_date DESC, I.category, P.part_name;
--            RETURN;
--        END

--        --------------------------------------------------
--        -- ACTION TYPE 4 : TICKET + REPAIR CYCLE COST
--        --------------------------------------------------
--        ELSE IF @ActionType = 4
--        BEGIN
--            IF @ticket_id IS NULL
--            BEGIN
--                RAISERROR('ticket_id is required for ActionType 4',16,1);
--                RETURN;
--            END

--            -- Validate if ticket and cycle exists
--            IF NOT EXISTS (
--                SELECT 1 FROM dbo.PartUsageLog
--                WHERE ticket_id = @ticket_id
--                  AND repair_cycle = @repair_cycle
--            )
--            BEGIN
--                RAISERROR('No parts found for this ticket and repair cycle',16,1);
--                RETURN;
--            END

--            -- Item-wise summary
--            SELECT 
--                P.ticket_id,
--                P.repair_cycle,
--                P.part_name,
--                SUM(P.quantity_used) AS quantity_used,
--                ISNULL(S.price,0) AS unit_price,
--                SUM(P.quantity_used * ISNULL(S.price,0)) AS total_price
--            FROM dbo.PartUsageLog P
--            LEFT JOIN dbo.SupplierInventory S
--                ON P.inventory_id = S.inventory_id
--            WHERE P.ticket_id = @ticket_id
--              AND P.repair_cycle = @repair_cycle
--            GROUP BY P.ticket_id, P.repair_cycle, P.part_name, S.price
--            ORDER BY P.part_name;

--            -- Grand total
--            SELECT 
--                P.ticket_id,
--                P.repair_cycle,
--                SUM(P.quantity_used * ISNULL(S.price,0)) AS grand_total
--            FROM dbo.PartUsageLog P
--            LEFT JOIN dbo.SupplierInventory S
--                ON P.inventory_id = S.inventory_id
--            WHERE P.ticket_id = @ticket_id
--              AND P.repair_cycle = @repair_cycle
--            GROUP BY P.ticket_id, P.repair_cycle;
--            RETURN;
--        END

--        --------------------------------------------------
--        -- INVALID ACTION TYPE
--        --------------------------------------------------
--        ELSE
--        BEGIN
--            RAISERROR('Invalid ActionType. Use 1=Daily, 2=Monthly, 3=Range, 4=TicketCost',16,1);
--            RETURN;
--        END

--    END TRY
--    BEGIN CATCH
--        SET @ResultStatusCode = -1;
--        SET @Result = 'Error';
--        SET @ExceptionMessage = ERROR_MESSAGE();
--    END CATCH

--    SELECT 
--        @ResultStatusCode AS ResultStatusCode,
--        @Result AS Result,
--        @ExceptionMessage AS ExceptionMessage;
--END


--ALTER PROCEDURE [dbo].[Teknicity_UsageReport]
--    @ActionType INT,            -- 1=Daily, 2=Monthly, 3=Range, 4=TicketCost
--    @Days INT = NULL,
--    @Months INT = NULL,
--    @StartDate DATETIME = NULL,
--    @EndDate DATETIME = NULL,
--    @ticket_id INT = NULL,
--    @repair_cycle INT = NULL,   -- ✅ MUST BE NULLABLE

--    @ResultStatusCode INT OUTPUT,
--    @Result VARCHAR(MAX) OUTPUT,
--    @ExceptionMessage VARCHAR(MAX) OUTPUT
--AS
--BEGIN
--    SET NOCOUNT ON;

--    BEGIN TRY
--        SET @ResultStatusCode = 1;
--        SET @Result = 'Success';
--        SET @ExceptionMessage = NULL;

--        --------------------------------------------------
--        -- ACTION TYPE 1 : DAILY REPORT
--        --------------------------------------------------
--        IF @ActionType = 1
--        BEGIN
--            SELECT 
--                CONVERT(DATE, P.issue_date) AS usage_date,
--                I.category,
--                P.part_name,
--                SUM(P.quantity_used) AS total_used,
--                ISNULL(I.stock_quantity, 0) AS current_stock
--            FROM PartUsageLog P
--            LEFT JOIN SupplierInventory I 
--                ON P.inventory_id = I.inventory_id
--            WHERE P.issue_date >= DATEADD(DAY, -@Days, GETDATE())
--            GROUP BY CONVERT(DATE, P.issue_date), I.category, P.part_name, I.stock_quantity
--            ORDER BY usage_date DESC;
--            RETURN;
--        END

--        --------------------------------------------------
--        -- ACTION TYPE 2 : MONTHLY REPORT
--        --------------------------------------------------
--        ELSE IF @ActionType = 2
--        BEGIN
--            SELECT 
--                FORMAT(P.issue_date, 'yyyy-MM') AS usage_month,
--                I.category,
--                P.part_name,
--                SUM(P.quantity_used) AS total_used,
--                ISNULL(I.stock_quantity, 0) AS current_stock
--            FROM PartUsageLog P
--            LEFT JOIN SupplierInventory I 
--                ON P.inventory_id = I.inventory_id
--            WHERE P.issue_date >= DATEADD(MONTH, -@Months, GETDATE())
--            GROUP BY FORMAT(P.issue_date, 'yyyy-MM'), I.category, P.part_name, I.stock_quantity
--            ORDER BY usage_month DESC;
--            RETURN;
--        END

--        --------------------------------------------------
--        -- ACTION TYPE 3 : DATE RANGE REPORT
--        --------------------------------------------------
--        ELSE IF @ActionType = 3
--        BEGIN
--            SELECT 
--                CONVERT(DATE, P.issue_date) AS usage_date,
--                I.category,
--                P.part_name,
--                SUM(P.quantity_used) AS total_used,
--                ISNULL(I.stock_quantity, 0) AS current_stock
--            FROM PartUsageLog P
--            LEFT JOIN SupplierInventory I 
--                ON P.inventory_id = I.inventory_id
--            WHERE (@StartDate IS NULL OR P.issue_date >= @StartDate)
--              AND (@EndDate IS NULL OR P.issue_date <= @EndDate)
--            GROUP BY CONVERT(DATE, P.issue_date), I.category, P.part_name, I.stock_quantity
--            ORDER BY usage_date DESC;
--            RETURN;
--        END

--        --------------------------------------------------
--        -- ACTION TYPE 4 : TICKET + REPAIR CYCLE COST
--        --------------------------------------------------
--        ELSE IF @ActionType = 4
--        BEGIN
--            IF @ticket_id IS NULL
--            BEGIN
--                RAISERROR('ticket_id is required',16,1);
--                RETURN;
--            END

--            -- ✅ Auto detect repair cycle if not sent
--            IF @repair_cycle IS NULL
--            BEGIN
--                SELECT @repair_cycle = MAX(repair_cycle)
--                FROM PartUsageLog
--                WHERE ticket_id = @ticket_id;
--            END

--            IF @repair_cycle IS NULL
--            BEGIN
--                RAISERROR('No part usage found for this ticket',16,1);
--                RETURN;
--            END

--            -- Item wise
--            SELECT 
--                P.ticket_id,
--                P.repair_cycle,
--                P.part_name,
--                SUM(P.quantity_used) AS quantity_used,
--                ISNULL(S.price,0) AS unit_price,
--                SUM(P.quantity_used * ISNULL(S.price,0)) AS total_price
--            FROM PartUsageLog P
--            LEFT JOIN SupplierInventory S
--                ON P.inventory_id = S.inventory_id
--            WHERE P.ticket_id = @ticket_id
--              AND P.repair_cycle = @repair_cycle
--            GROUP BY P.ticket_id, P.repair_cycle, P.part_name, S.price;

--            -- Grand total
--            SELECT 
--                SUM(P.quantity_used * ISNULL(S.price,0)) AS grand_total
--            FROM PartUsageLog P
--            LEFT JOIN SupplierInventory S
--                ON P.inventory_id = S.inventory_id
--            WHERE P.ticket_id = @ticket_id
--              AND P.repair_cycle = @repair_cycle;

--            RETURN;
--        END

--        --------------------------------------------------
--        -- INVALID ACTION TYPE
--        --------------------------------------------------
--        ELSE
--        BEGIN
--            RAISERROR('Invalid ActionType',16,1);
--            RETURN;
--        END

--    END TRY
--    BEGIN CATCH
--        SET @ResultStatusCode = -1;
--        SET @Result = 'Error';
--        SET @ExceptionMessage = ERROR_MESSAGE();
--    END CATCH

--    SELECT 
--        @ResultStatusCode AS ResultStatusCode,
--        @Result AS Result,
--        @ExceptionMessage AS ExceptionMessage;
--END




CREATE   PROCEDURE [dbo].[Teknicity_AddPartUsage]
    @ticket_id INT,
    @inventory_id INT,
    @part_name NVARCHAR(200),
    @quantity_used INT,

    @ResultStatusCode INT OUTPUT,
    @Result VARCHAR(MAX) OUTPUT,
    @ExceptionMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @repair_cycle INT;

        -- ✅ Get NEXT repair cycle for this ticket
        SELECT @repair_cycle = ISNULL(MAX(repair_cycle), 0) + 1
        FROM PartUsageLog
        WHERE ticket_id = @ticket_id;

        -- ✅ Insert part usage
        INSERT INTO PartUsageLog
        (
            ticket_id,
            inventory_id,
            part_name,
            quantity_used,
            repair_cycle,
            issue_date
        )
        VALUES
        (
            @ticket_id,
            @inventory_id,
            @part_name,
            @quantity_used,
            @repair_cycle,
            GETDATE()
        );

        SET @ResultStatusCode = 1;
        SET @Result = 'Part usage added successfully';
        SET @ExceptionMessage = NULL;
    END TRY
    BEGIN CATCH
        SET @ResultStatusCode = -1;
        SET @Result = 'Error';
        SET @ExceptionMessage = ERROR_MESSAGE();
    END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[Teknicity_CustomerBills]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Teknicity_CustomerBills]
    @ActionType INT,
    @ticketid INT = NULL,
    @customer_name NVARCHAR(100) = NULL,
    @phone NVARCHAR(20) = NULL,
    @device NVARCHAR(100) = NULL,
    @issue NVARCHAR(MAX) = NULL,
        @parts_cost DECIMAL(10,2) = NULL,      
    @labor_cost DECIMAL(10,2) = NULL,
    @tax DECIMAL(10,2) = NULL,
    @total_amount DECIMAL(10,2) = NULL,
    @notes NVARCHAR(MAX) = NULL,
    @status NVARCHAR(50) = NULL,
    @pass INT = NULL,
    @BillDate DATE = NULL,      
    @Month INT = NULL,
    @Year INT = NULL,
    @PartUsageData NVARCHAR(MAX) = NULL,  -- JSON array
    @ResultStatusCode INT OUTPUT,
    @Result VARCHAR(MAX) OUTPUT,
    @ExceptionMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Default outputs
        SET @ResultStatusCode = 1;
        SET @Result = 'Success';
        SET @ExceptionMessage = NULL;

        DECLARE @StatusCode NVARCHAR(2) = 
            CASE 
                WHEN @status = 'Pending Payment' THEN 'PP'
                WHEN @status = 'Paid' THEN 'P'
                WHEN @status = 'Cancelled' THEN 'C'
                WHEN @status = 'Refunded' THEN 'R'
                ELSE ISNULL(@status,'PP')
            END;

        -----------------------------
        -- ActionType 2: Insert CustomerBill + PartUsage
        -----------------------------
        --IF @ActionType = 2
        --BEGIN
        --    BEGIN TRANSACTION;

        --    -- Delete existing bill for same repair ticket (optional)
        --    DELETE FROM CustomerBills WHERE pass = @pass;

        --    -- Insert new CustomerBill with temporary parts_cost = 0
        --    INSERT INTO CustomerBills (customer_name, phone, device, issue, parts_cost, labor_cost, tax, total_amount, notes, status, pass)
        --    VALUES (@customer_name, @phone, @device, @issue, 0, ISNULL(@labor_cost,0), ISNULL(@tax,0), ISNULL(@total_amount,0), ISNULL(@notes,''), @StatusCode, @pass);

        --    DECLARE @NewBillID INT = SCOPE_IDENTITY();

        --    -- Insert PartUsage if JSON provided
        --    IF @PartUsageData IS NOT NULL
        --    BEGIN
        --        DECLARE @Parts TABLE (part_name NVARCHAR(100), quantity_used INT, inventory_id INT);

        --        INSERT INTO @Parts(part_name, quantity_used, inventory_id)
        --        SELECT part_name, quantity, inventory_id
        --        FROM OPENJSON(@PartUsageData)
        --        WITH (
        --            part_name NVARCHAR(100) '$.part_name',
        --            quantity INT '$.quantity',
        --            inventory_id INT '$.inventory_id'
        --        );

        --        INSERT INTO PartUsageLog(ticket_id, repair_cycle, part_name, quantity_used, inventory_id)
        --        SELECT @NewBillID, 1, part_name, quantity_used, inventory_id
        --        FROM @Parts;
        --    END

        --    -- Calculate parts_cost using SUM in a variable, then UPDATE
        --    DECLARE @PartsCost DECIMAL(10,2) = 0;

        --    SELECT @PartsCost = ISNULL(SUM(P.quantity_used * ISNULL(S.price,0)),0)
        --    FROM PartUsageLog P
        --    LEFT JOIN SupplierInventory S ON P.inventory_id = S.inventory_id
        --    WHERE P.ticket_id = @NewBillID;

        --    -- Update CustomerBill parts_cost
        --    UPDATE CustomerBills
        --    SET parts_cost = @PartsCost,
        --        total_amount = @PartsCost + ISNULL(labor_cost,0) + ISNULL(tax,0)
        --    WHERE ticketid = @NewBillID;

        --    -- Update RepairTicket status
        --    IF @pass IS NOT NULL
        --    BEGIN
        --        UPDATE RepairTicket
        --        SET status = 'P'
        --        WHERE ticket_id = @pass;
        --    END

        --    COMMIT TRANSACTION;

        --    SELECT @NewBillID AS ticketid, 'CustomerBill and PartUsage saved successfully' AS Message;
        --END



            IF @ActionType = 2
        BEGIN
            DECLARE @RepairCycle INT = 1;

            -- Determine repair cycle
            IF EXISTS (SELECT 1 FROM CustomerBills WHERE pass = @pass)
            BEGIN
                SELECT @RepairCycle = ISNULL(MAX(repair_cycle),0)+1
                FROM CustomerBills
                WHERE pass = @pass;
            END

            BEGIN TRANSACTION;

            -- Insert new CustomerBill
            INSERT INTO CustomerBills
            (
                customer_name, phone, device, issue,
                parts_cost, labor_cost, tax, total_amount,
                notes, status, pass, repair_cycle
            )
            VALUES
            (
                @customer_name, @phone, @device, @issue,
                @parts_cost, @labor_cost, @tax, @total_amount,
                @notes, @StatusCode, @pass, @RepairCycle
            );

            DECLARE @NewBillID INT = SCOPE_IDENTITY();

            -- Update RepairTicket status
            IF @StatusCode = 'R' OR @StatusCode = 'C'
            BEGIN
                UPDATE RepairTicket
                SET status = @StatusCode
                WHERE ticket_id = @pass;
            END
            ELSE
            BEGIN
                UPDATE RepairTicket
                SET status = 'P'  -- Payment Process
                WHERE ticket_id = @pass;
            END

            COMMIT TRANSACTION;

            SELECT @NewBillID AS NewBillID, 'Bill created with repair_cycle = '+CAST(@RepairCycle AS NVARCHAR) AS Message;
        END

        -----------------------------
        -- ActionType 1: Get All Customer Bills
        -----------------------------
        ELSE IF @ActionType = 1
        BEGIN
            SELECT * FROM CustomerBills ORDER BY created_date DESC;
        END

        -----------------------------
        -- ActionType 3: Update CustomerBill Status
        -----------------------------
        --ELSE IF @ActionType = 3
        --BEGIN
        --    BEGIN TRANSACTION;

        --    UPDATE CustomerBills
        --    SET status = @StatusCode,
        --        notes = COALESCE(@notes, notes)
        --    WHERE pass = @pass;

        --    UPDATE RepairTicket
        --    SET status = @StatusCode,
        --        issue_description = COALESCE(@notes, issue_description)
        --    WHERE ticket_id = @pass;

        --    COMMIT TRANSACTION;

        --    SELECT 1 AS ResultStatus, 'CustomerBill and RepairTicket updated successfully' AS Message;
        --END


        ELSE IF @ActionType = 3
BEGIN
    BEGIN TRY
        -- Start transaction
        BEGIN TRANSACTION;

        -- Normalize status to uppercase
        SET @status = UPPER(@status);

        -----------------------------------
        -- 1️⃣ Update CustomerBills
        -----------------------------------
        UPDATE CustomerBills
        SET status = @status,
            notes  = COALESCE(@notes, notes)
        WHERE pass = @pass;

        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('No CustomerBill found for given RepairTicket ID', 16, 1);
        END

        -----------------------------------
        -- 2️⃣ Update RepairTicket with mapping
        -----------------------------------
        UPDATE RepairTicket
        SET status = CASE 
                        WHEN @status = 'C' THEN 'R'  -- Refund logic
                        WHEN @status = 'R' THEN 'R'  -- Already refunded
                        ELSE 'P'                     -- Default to Payment Process
                     END,
            issue_description = COALESCE(@notes, issue_description)
        WHERE ticket_id = @pass;

        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('No RepairTicket found for given RepairTicket ID', 16, 1);
        END

        -- Commit if everything is OK
        COMMIT TRANSACTION;

        -- Return success
        SELECT 1 AS ResultStatus, 'CustomerBills and RepairTicket updated successfully' AS Message;
    END TRY
    BEGIN CATCH
        -- Rollback if any error occurs
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Return error message
        SELECT 0 AS ResultStatus, ERROR_MESSAGE() AS Message;
    END CATCH
END


 
        -----------------------------
        -- ActionType 4: Get Bill by Pass
        -----------------------------
        ELSE IF @ActionType = 4
        BEGIN
            SELECT * FROM CustomerBills WHERE pass = @pass;
        END

        -----------------------------
        -- ActionType 5: Cancelled Bills
        -----------------------------
        ELSE IF @ActionType = 5
        BEGIN
            SELECT ticketid, pass, customer_name, phone, device, issue, total_amount
            FROM CustomerBills
            WHERE status = 'C'
            ORDER BY created_date DESC;
        END

        -----------------------------
        -- ActionType 6: Today's Bill Summary
        -----------------------------
        ELSE IF @ActionType = 6
        BEGIN
            SELECT COUNT(*) AS TodayBillCount, SUM(total_amount) AS TotalAmount
            FROM CustomerBills
            WHERE CAST(created_date AS DATE) = CAST(GETDATE() AS DATE);
        END

        -----------------------------
        -- ActionType 7: Bill by Date
        -----------------------------
        ELSE IF @ActionType = 7
        BEGIN
            IF @BillDate IS NULL SET @BillDate = CAST(GETDATE() AS DATE);

            SELECT COUNT(*) AS BillCount, SUM(total_amount) AS TotalAmount
            FROM CustomerBills
            WHERE CAST(created_date AS DATE) = @BillDate;
        END

        -----------------------------
        -- ActionType 8: Monthly Bills
        -----------------------------
        ELSE IF @ActionType = 8
        BEGIN
            IF @Month IS NULL SET @Month = MONTH(GETDATE());
            IF @Year IS NULL SET @Year = YEAR(GETDATE());

            SELECT COUNT(*) AS MonthlyBillCount, SUM(total_amount) AS TotalAmount
            FROM CustomerBills
            WHERE MONTH(created_date) = @Month AND YEAR(created_date) = @Year;
        END

        -----------------------------
        -- ActionType 9: Yearly Bills
        -----------------------------
        ELSE IF @ActionType = 9
        BEGIN
            IF @Year IS NULL SET @Year = YEAR(GETDATE());

            SELECT COUNT(*) AS YearlyBillCount, SUM(total_amount) AS TotalAmount
            FROM CustomerBills
            WHERE YEAR(created_date) = @Year;
        END

        ELSE
        BEGIN
            SET @ResultStatusCode = -1;
            SET @Result = 'Invalid ActionType';
            SET @ExceptionMessage = 'Valid ActionType: 1-GetAll, 2-Insert, 3-UpdateStatus, 4-GetByPass, 5-Cancelled, 6-Today, 7-ByDate, 8-Monthly, 9-Yearly';
        END

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SET @ResultStatusCode = -1;
        SET @Result = 'Error occurred';
        SET @ExceptionMessage = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Teknicity_Device]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Teknicity_Device]
    @ActionType INT,                         -- 1 = Get/Search Brands
                                             -- 2 = Get/Search Models
                                             -- 3 = Add New Device
                                             -- 4 = Get All Devices
    @brand NVARCHAR(100) = NULL,
    @model NVARCHAR(100) = NULL,
    @ResultStatusCode INT OUTPUT,
    @Result VARCHAR(MAX) OUTPUT,
    @ExceptionMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Default values
        SET @ResultStatusCode = 1;
        SET @Result = 'Success';
        SET @ExceptionMessage = NULL;

        ----------------------------------------------------------------
        -- 1️⃣  GET / SEARCH BRANDS
        ----------------------------------------------------------------
        IF @ActionType = 1
        BEGIN
            SELECT DISTINCT brand
            FROM Devices
            WHERE @brand IS NULL OR brand LIKE '%' + @brand + '%'
            ORDER BY brand;
        END

        ----------------------------------------------------------------
        -- 2️⃣  GET / SEARCH MODELS
        ----------------------------------------------------------------
        ELSE IF @ActionType = 2
        BEGIN
            SELECT DISTINCT model
            FROM Devices
            WHERE @model IS NULL OR model LIKE '%' + @model + '%'
            ORDER BY model;
        END

        ----------------------------------------------------------------
        -- 3️⃣  ADD NEW DEVICE
        ----------------------------------------------------------------
        ELSE IF @ActionType = 3
        BEGIN
            -- Prevent duplicates
            IF EXISTS (SELECT 1 FROM Devices WHERE brand = @brand AND model = @model)
            BEGIN
                SET @ResultStatusCode = 0;
                SET @Result = 'Device already exists';
            END
            ELSE
            BEGIN
                INSERT INTO Devices (brand, model)
                VALUES (@brand, @model);

                SET @ResultStatusCode = 1;
                SET @Result = 'Device added successfully';
            END
        END

        ----------------------------------------------------------------
        -- 4️⃣  GET ALL DEVICES (brand + model)
        ----------------------------------------------------------------
        ELSE IF @ActionType = 4
        BEGIN
            SELECT id, brand, model
            FROM Devices
            ORDER BY brand, model;
        END

        ----------------------------------------------------------------
        -- ❌ INVALID ACTION
        ----------------------------------------------------------------
        ELSE
        BEGIN
            SET @ResultStatusCode = -1;
            SET @Result = 'Invalid ActionType';
        END
    END TRY

    ----------------------------------------------------------------
    -- 🔴 ERROR HANDLING
    ----------------------------------------------------------------
    BEGIN CATCH
        SET @ResultStatusCode = -1;
        SET @Result = 'Error occurred';
        SET @ExceptionMessage = ERROR_MESSAGE();
    END CATCH;
END

GO
/****** Object:  StoredProcedure [dbo].[Teknicity_DeviceBrand]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Teknicity_DeviceBrand]
    @ActionType INT,
    @brand NVARCHAR(100) = NULL,
    @ResultStatusCode INT OUTPUT,
    @Result VARCHAR(MAX) OUTPUT,
    @ExceptionMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    BEGIN TRY
        SET @ResultStatusCode = 1;
        SET @Result = 'Success';
        SET @ExceptionMessage = NULL;
        -- ActionType 1: Get all brands
        IF @ActionType = 1
        BEGIN
            SELECT id, brand
            FROM DeviceBrands
            ORDER BY brand;
        END
        -- ActionType 2: Add new brand
        ELSE IF @ActionType = 2
        BEGIN
            INSERT INTO DeviceBrands (brand)
            VALUES (@brand);
            SELECT id, brand
            FROM DeviceBrands
            WHERE id = SCOPE_IDENTITY();
        END
        ELSE
        BEGIN
            SET @ResultStatusCode = -1;
            SET @Result = 'Invalid ActionType';
        END;
    END TRY
    BEGIN CATCH
        SET @ResultStatusCode = -1;
        SET @Result = 'Error occurred';
        SET @ExceptionMessage = ERROR_MESSAGE();
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[Teknicity_InventoryCategory]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Teknicity_InventoryCategory]
    @ActionType INT,
    @id INT = NULL,
    @name NVARCHAR(100) = NULL,
    @ResultStatusCode INT OUTPUT,
    @Result VARCHAR(MAX) OUTPUT,
    @ExceptionMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET @ResultStatusCode = 1;
        SET @Result = 'Success';
        SET @ExceptionMessage = NULL;

        -- ActionType 1: Get all categories
        IF @ActionType = 1
        BEGIN
            SELECT id, name
            FROM InventoryCategory
            ORDER BY name;
        END

        -- ActionType 2: Add new category
        ELSE IF @ActionType = 2
        BEGIN
            INSERT INTO InventoryCategory (name)
            VALUES (@name);

            SELECT id, name
            FROM InventoryCategory
            WHERE id = SCOPE_IDENTITY();
        END

        -- ActionType invalid
        ELSE
        BEGIN
            SET @ResultStatusCode = -1;
            SET @Result = 'Invalid ActionType';
        END;
    END TRY

    BEGIN CATCH
        SET @ResultStatusCode = -1;
        SET @Result = 'Error occurred';
        SET @ExceptionMessage = ERROR_MESSAGE();
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[Teknicity_LoginProcess]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Teknicity_LoginProcess]
    @ActionType INT,                       -- 1 = Login / OTP verify, 2 = Add User
    @otp_code NVARCHAR(6) = NULL,         -- Optional OTP verification code
    @UserName NVARCHAR(50) = NULL,        -- User name for AddUser
    @MobileNo NVARCHAR(10) = NULL,        -- Mobile number
    @Role NVARCHAR(50) = NULL,            -- Role of user
    @Email NVARCHAR(50) = NULL,           -- Email address
    @ResultStatusCode INT OUTPUT,
    @Result VARCHAR(MAX) OUTPUT,
    @ExceptionMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    BEGIN TRY
        -- Default values
        SET @ResultStatusCode = 1;
        SET @Result = 'Success';
        SET @ExceptionMessage = NULL;

        -------------------------
        -- ActionType = 1: Login / Verify OTP
        -------------------------
        IF @ActionType = 1
        BEGIN
            IF EXISTS (SELECT 1 FROM Users WHERE MobileNo = @MobileNo)
            BEGIN
                

                SELECT 
                    UserID,
                    UserName,
                    MobileNo,
                    Role,
                    Email
                FROM Users
                WHERE MobileNo = @MobileNo;

                SET @Result = 'Login Successful';
            END
            ELSE
            BEGIN
                SET @ResultStatusCode = -1;
                SET @Result = 'Invalid or Expired OTP';
            END
        END

        -------------------------
        -- ActionType = 2: Add new user
        -------------------------
        ELSE IF @ActionType = 2
        BEGIN
            -- Check if mobile number already exists
            IF EXISTS (SELECT 1 FROM Users WHERE MobileNo = @MobileNo)
            BEGIN
                SET @ResultStatusCode = -1;
                SET @Result = 'Mobile number already registered';
            END
            ELSE
            BEGIN
                INSERT INTO Users (UserName, MobileNo, Role, Email)
                VALUES (@UserName, @MobileNo, @Role, @Email);

                SET @Result = 'User Added Successfully';
            END
        END
           -------------------------
        -- ActionType = 3: Get user role only
        -------------------------
        ELSE IF @ActionType = 3
        BEGIN
            IF EXISTS (SELECT 1 FROM Users WHERE MobileNo = @MobileNo)
            BEGIN
                SELECT 
                    UserID,
                    UserName,
                    MobileNo,
                    Role,
                    Email,
                    RepairmanID
                FROM Users
                WHERE MobileNo = @MobileNo;

                SET @Result = 'Role and user info fetched successfully';
            END
            ELSE
            BEGIN
                SET @ResultStatusCode = -1;
                SET @Result = 'User not found';
            END
        END

 -------------------------
        -- Invalid ActionType
        -------------------------
        ELSE
        BEGIN
            SET @ResultStatusCode = -1;
            SET @Result = 'Invalid ActionType';
            SET @ExceptionMessage = 'Valid values: 1=Login, 2=Add User, 3=Get User Info';
        END

    END TRY
    BEGIN CATCH
        SET @ResultStatusCode = -1;
        SET @Result = 'Error occurred';
        SET @ExceptionMessage = ERROR_MESSAGE();
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[Teknicity_PartRequest]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Teknicity_PartRequest]
(
    @ActionType INT,
    @ticket_id INT = NULL,
    @brand_name NVARCHAR(100) = NULL,
    @part_name NVARCHAR(100) = NULL,
    @quantity INT = NULL,
    @urgency NVARCHAR(20) = NULL,
    @requestdate DATE = NULL,
    @status CHAR(1) = NULL,   -- P/I/W/S/D/R
    @actions NVARCHAR(50) = NULL,


    @ResultStatusCode INT OUTPUT,
    @Result VARCHAR(MAX) OUTPUT,
    @ExceptionMessage VARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET @ResultStatusCode = 1;
        SET @Result = 'Success';
        SET @ExceptionMessage = NULL;

        ----------------------------------------------------
        -- Default Actions based on STATUS CODE
        ----------------------------------------------------
        IF @actions IS NULL
        BEGIN
            IF @status = 'P' SET @actions = 'Accept and Reject';
            ELSE IF @status = 'I' SET @actions = 'Mark as Shipped';
            ELSE IF @status = 'S' SET @actions = 'Mark as Delivered';
            ELSE IF @status IN ('D','R') SET @actions = 'No Actions Available';
            ELSE IF @status = 'W' SET @actions = 'Inactive';
            ELSE SET @actions = 'No Actions Available';
        END

        ----------------------------------------------------
        -- 1 = GET ALL
        ----------------------------------------------------
        IF @ActionType = 1
        BEGIN
            SELECT *,
                CASE status
                    WHEN 'P' THEN 'Pending'
                    WHEN 'I' THEN 'In Progress'
                    WHEN 'W' THEN 'Waiting for Parts'
                    WHEN 'S' THEN 'Shipped'
                    WHEN 'D' THEN 'Delivered'
                    WHEN 'R' THEN 'Rejected'
                END AS status_text
            FROM PartRequest;
            RETURN;
        END

        ----------------------------------------------------
        -- 2 = GET BY TICKET ID
        ----------------------------------------------------
        IF @ActionType = 2
        BEGIN
            SELECT *,
                CASE status
                    WHEN 'P' THEN 'Pending'
                    WHEN 'I' THEN 'In Progress'
                    WHEN 'W' THEN 'Waiting for Parts'
                    WHEN 'S' THEN 'Shipped'
                    WHEN 'D' THEN 'Delivered'
                    WHEN 'R' THEN 'Rejected'
                END AS status_text
            FROM PartRequest
            WHERE ticket_id = @ticket_id;
            RETURN;
        END

        BEGIN TRAN;

        ----------------------------------------------------
        -- 3 = INSERT (Repairman Requests Part)
        ----------------------------------------------------
        IF @ActionType = 3
        BEGIN
            INSERT INTO PartRequest
            (
                ticket_id, brand_name, part_name, quantity,
                urgency, requestdate, status, actions
            )
            VALUES
            (
                @ticket_id, @brand_name, @part_name, @quantity,
                @urgency, @requestdate, @status, @actions
            );

            IF NOT EXISTS (SELECT 1 FROM RepairTicket WHERE ticket_id = @ticket_id)
            BEGIN
                ROLLBACK;
                SET @ResultStatusCode = -1;
                SET @Result = 'RepairTicket not found';
                RETURN;
            END

            UPDATE RepairTicket
            SET status = @status
            WHERE ticket_id = @ticket_id;

            COMMIT;

            SET @Result = 'Part request inserted';

            SELECT * FROM PartRequest WHERE ticket_id = @ticket_id;
            SELECT * FROM RepairTicket WHERE ticket_id = @ticket_id;
            RETURN;
        END

        ----------------------------------------------------
        -- 4 = UPDATE (Admin Edit / Approve)
        ----------------------------------------------------
        IF @ActionType = 4
        BEGIN
            UPDATE PartRequest
            SET brand_name = @brand_name,
                part_name = @part_name,
                quantity = @quantity,
                urgency = @urgency,
                requestdate = @requestdate,
                status = @status,
                actions = @actions
            WHERE ticket_id = @ticket_id;

            UPDATE RepairTicket
            SET status = @status
            WHERE ticket_id = @ticket_id;

            COMMIT;
            SET @Result = 'Part request updated';

            SELECT * FROM PartRequest WHERE ticket_id = @ticket_id;
            SELECT * FROM RepairTicket WHERE ticket_id = @ticket_id;
            RETURN;
        END

        ----------------------------------------------------
        -- 5 = DELETE
        ----------------------------------------------------
        IF @ActionType = 5
        BEGIN
            DELETE FROM PartRequest WHERE ticket_id = @ticket_id;
            COMMIT;
            SET @Result = 'Part request deleted';
            RETURN;
        END

        --------------------------------------------------
         --6 = ISSUE PART (STOCK HANDLING)
        --------------------------------------------------
        IF @ActionType = 6
        BEGIN
            DECLARE @inventory_id INT, @available_stock INT;

            SELECT TOP 1
                @inventory_id = inventory_id,
                @available_stock = stock_quantity
            FROM SupplierInventory
            WHERE part_name = @part_name;

            IF @inventory_id IS NULL
            BEGIN
                ROLLBACK;
                SET @ResultStatusCode = -1;
                SET @Result = 'Part not found in inventory';
                RETURN;
            END

            -- NOT ENOUGH STOCK
            IF @available_stock < @quantity
            BEGIN
                UPDATE PartRequest
                SET status = 'W',
                    actions = 'Inactive'
                WHERE ticket_id = @ticket_id;

                UPDATE RepairTicket
                SET status = 'W'
                WHERE ticket_id = @ticket_id;

                COMMIT;
                SET @ResultStatusCode = -1;
                SET @Result = 'Waiting for parts';
                RETURN;
            END

            -- DEDUCT STOCK
            UPDATE SupplierInventory
            SET stock_quantity = stock_quantity - @quantity
            WHERE inventory_id = @inventory_id;

            INSERT INTO PartUsageLog
            (
                ticket_id, inventory_id, part_name, quantity_used
            )
            VALUES
            (
                @ticket_id, @inventory_id, @part_name, @quantity
            );

            UPDATE PartRequest
            SET status = 'I',
                actions = 'Active'
            WHERE ticket_id = @ticket_id;

            UPDATE RepairTicket
            SET status = 'I'
            WHERE ticket_id = @ticket_id;

            COMMIT;
            SET @Result = 'Part issued successfully';

            SELECT * FROM PartRequest WHERE ticket_id = @ticket_id;
            SELECT * FROM RepairTicket WHERE ticket_id = @ticket_id;
            RETURN;
        END


----        --------------------------------------------------
---- 6 = ISSUE PART (STOCK HANDLING) - Updated
------------------------------------------------------
--IF @ActionType = 6
--BEGIN
--    DECLARE @inventory_id INT, @available_stock INT;
--    DECLARE @current_cycle INT;

--    -- Get inventory info
--    SELECT TOP 1
--        @inventory_id = inventory_id,
--        @available_stock = stock_quantity
--    FROM SupplierInventory
--    WHERE part_name = @part_name;

--    IF @inventory_id IS NULL
--    BEGIN
--        ROLLBACK;
--        SET @ResultStatusCode = -1;
--        SET @Result = 'Part not found in inventory';
--        RETURN;
--    END

--    -- Check stock availability
--    IF @available_stock < @quantity
--    BEGIN
--        UPDATE PartRequest
--        SET status = 'W',
--            actions = 'Inactive'
--        WHERE ticket_id = @ticket_id;

--        UPDATE RepairTicket
--        SET status = 'W'
--        WHERE ticket_id = @ticket_id;

--        COMMIT;
--        SET @ResultStatusCode = -1;
--        SET @Result = 'Waiting for parts';
--        RETURN;
--    END

--    -- Determine current repair cycle
--    SELECT @current_cycle = ISNULL(MAX(repair_cycle), 0)
--    FROM PartUsageLog
--    WHERE ticket_id = @ticket_id;

--    SET @current_cycle =1;  -- increment for new usage

--    -- Deduct stock
--    UPDATE SupplierInventory
--    SET stock_quantity = stock_quantity - @quantity
--    WHERE inventory_id = @inventory_id;

--    -- Insert into PartUsageLog with correct repair_cycle
--    INSERT INTO PartUsageLog
--    (
--        ticket_id, inventory_id, part_name, quantity_used, repair_cycle
--    )
--    VALUES
--    (
--        @ticket_id, @inventory_id, @part_name, @quantity, @current_cycle
--    );

--    -- Update PartRequest & RepairTicket status
--    UPDATE PartRequest
--    SET status = 'I',
--        actions = 'Active'
--    WHERE ticket_id = @ticket_id;

--    UPDATE RepairTicket
--    SET status = 'I'
--    WHERE ticket_id = @ticket_id;

--    COMMIT;
--    SET @Result = 'Part issued successfully';

--    -- Return updated info
--    SELECT * FROM PartRequest WHERE ticket_id = @ticket_id;
--    SELECT * FROM RepairTicket WHERE ticket_id = @ticket_id;
--    SELECT * FROM PartUsageLog WHERE ticket_id = @ticket_id ORDER BY repair_cycle;
--    RETURN;
--END
















    --        IF @ActionType = 7
    --BEGIN
    --    SELECT 
    --        PR.*
    --    FROM PartRequest PR
    --    WHERE PR.status = 'W'
    --    ORDER BY PR.requestdate DESC;

    --    RETURN;
    --END

    -- 7 = GET WAITING FOR PARTS
IF @ActionType = 7
BEGIN
    BEGIN TRY
        -- rollback any open transaction (if any)
        IF @@TRANCOUNT > 0
            ROLLBACK;

        SET NOCOUNT ON;

        SELECT *
        FROM PartRequest
        WHERE status = 'W'
        ORDER BY requestdate DESC;

        RETURN;
    END TRY
    BEGIN CATCH
        -- just return error
        SET @ResultStatusCode = -1;
        SET @Result = ERROR_MESSAGE();
        RETURN;
    END CATCH
END


        ----------------------------------------------------
        -- INVALID ACTION
        ----------------------------------------------------
        ROLLBACK;
        SET @ResultStatusCode = -1;
        SET @Result = 'Invalid ActionType';
        RETURN;

    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK;

        SET @ResultStatusCode = -1;
        SET @Result = 'Error occurred';
        SET @ExceptionMessage = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Teknicity_Repairman]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Teknicity_Repairman]
    @ActionType INT,
    @repairman_id INT = NULL,  
    @repairman_name NVARCHAR(100) = NULL,
    @repairman_email NVARCHAR(100) = NULL,
    @repairman_contact NVARCHAR(15) = NULL,
    @specialty NVARCHAR(50) = NULL,
    @experience NVARCHAR(50) = NULL,
    @status NVARCHAR(50) = NULL,
    @ResultStatusCode INT OUTPUT,
    @Result VARCHAR(MAX) OUTPUT,
    @ExceptionMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET @ResultStatusCode = 1;
        SET @Result = 'Success';
        SET @ExceptionMessage = NULL;

        ---------------------------------
        -- 1️⃣ GET ALL
        ---------------------------------
        IF @ActionType = 1
        BEGIN
            SELECT * FROM Repairman;
        END

        ---------------------------------
        -- 2️⃣ GET BY ID
        ---------------------------------
        ELSE IF @ActionType = 2
        BEGIN
            SELECT * FROM Repairman WHERE repairman_id = @repairman_id;
        END

        ---------------------------------
        -- 3️⃣ INSERT REPAIRMAN + USER
        ---------------------------------
        ELSE IF @ActionType = 3
        BEGIN
            BEGIN TRANSACTION;

            INSERT INTO Repairman
            (
                repairman_name,
                repairman_email,
                repairman_contact,
                specialty,
                experience,
                status
            )
            VALUES
            (
                @repairman_name,
                @repairman_email,
                @repairman_contact,
                @specialty,
                @experience,
                @status
            );

            DECLARE @NewRepairmanID INT = SCOPE_IDENTITY();

            INSERT INTO Users
            (
                UserName,
                MobileNo,
                Email,
                Role,
                RepairmanID
            )
            VALUES
            (
                @repairman_name,
                @repairman_contact,
                @repairman_email,
                'r',
                @NewRepairmanID
            );

            COMMIT TRANSACTION;

            SELECT @NewRepairmanID AS NewRepairmanID;

            SET @Result = 'Repairman and linked user added successfully';
        END

        ---------------------------------
        -- 4️⃣ UPDATE
        ---------------------------------
        ELSE IF @ActionType = 4
        BEGIN
            UPDATE Repairman
            SET
                repairman_name = @repairman_name,
                repairman_email = @repairman_email,
                repairman_contact = @repairman_contact,
                specialty = @specialty,
                experience = @experience,
                status = @status
            WHERE repairman_id = @repairman_id;
        END

        ---------------------------------
        -- 5️⃣ DELETE
        ---------------------------------
        ELSE IF @ActionType = 5
        BEGIN
            DELETE FROM Repairman WHERE repairman_id = @repairman_id;
        END

        ---------------------------------
        -- INVALID ACTION
        ---------------------------------
        ELSE
        BEGIN
            SET @ResultStatusCode = -1;
            SET @Result = 'Invalid ActionType';
            SET @ExceptionMessage = 'Valid values: 1=GetAll, 2=GetByID, 3=Insert, 4=Update, 5=Delete';
        END
    END TRY
    BEGIN CATCH
        -- 🔴 CRITICAL FIX
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @ResultStatusCode = -1;
        SET @Result = 'Error occurred';
        SET @ExceptionMessage = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Teknicity_RepairTicket]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Teknicity_RepairTicket]
    @ActionType INT,

    @ticket_id INT = NULL,
    @UserID INT = NULL,                     -- 🔹 USER ID FROM FRONTEND

    @brand NVARCHAR(50) = NULL,
    @issue_description NVARCHAR(255) = NULL,
    @customer_name NVARCHAR(100) = NULL,
    @phone_no NVARCHAR(15) = NULL,
    @status NVARCHAR(50) = NULL,
    @repairman_id INT = NULL,

    @ResultStatusCode INT OUTPUT,
    @Result VARCHAR(MAX) OUTPUT,
    @ExceptionMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    BEGIN TRY
        SET @ResultStatusCode = 1;
        SET @Result = 'Success';
        SET @ExceptionMessage = NULL;

        ---------------------------------
        -- Convert USER → REPAIRMAN only if repairman_id NOT provided
        ---------------------------------
        IF @repairman_id IS NULL AND @UserID IS NOT NULL
        BEGIN
            SELECT @repairman_id = RepairmanID
            FROM Users
            WHERE UserID = @UserID;
        END

        ---------------------------------
        -- Status mapping
        ---------------------------------
        DECLARE @StatusCode CHAR(1);

        SET @StatusCode =
            CASE 
                WHEN @status = 'Available' THEN 'A'
                WHEN @status = 'Diagnosing' THEN 'D'
                WHEN @status = 'In Progress' THEN 'I'
                WHEN @status = 'Completed' THEN 'C'
                WHEN @status = 'Payment Process' THEN 'P'
                WHEN @status = 'Returned' THEN 'R'
                WHEN @status = 'Waiting for Parts' THEN 'W'
                ELSE @status
            END;

        ---------------------------------
        -- ACTION TYPES
        ---------------------------------

        -- 1️⃣ Get all tickets (optional repairman filter)
        IF @ActionType = 1
        BEGIN
            SELECT
                RT.ticket_id,
                RT.brand,
                RT.issue_description,
                RT.customer_name,
                RT.phone_no,
                RT.created_date,
                RT.status,
                RT.repairman_id,
                RM.repairman_name
            FROM RepairTicket RT
            LEFT JOIN Repairman RM
                ON RM.repairman_id = RT.repairman_id
            WHERE (@repairman_id IS NULL OR RT.repairman_id = @repairman_id)
            ORDER BY RT.created_date DESC;
        END

        -- 2️⃣ Get by ticket id
        ELSE IF @ActionType = 2
            SELECT * FROM RepairTicket WHERE ticket_id = @ticket_id;

        -- 3️⃣ Create ticket
        ELSE IF @ActionType = 3
        BEGIN
            INSERT INTO RepairTicket
            (
                brand,
                issue_description,
                customer_name,
                phone_no,
                status,
                repairman_id
            )
            VALUES
            (
                @brand,
                @issue_description,
                @customer_name,
                @phone_no,
                @StatusCode,
                @repairman_id
            );

            SELECT SCOPE_IDENTITY() AS NewTicketID;
        END

        -- 4️⃣ Update ticket
        ELSE IF @ActionType = 4
        BEGIN
            UPDATE RepairTicket
            SET
                brand = @brand,
                issue_description = @issue_description,
                customer_name = @customer_name,
                phone_no = @phone_no,
                status = @StatusCode,
                repairman_id = @repairman_id
            WHERE ticket_id = @ticket_id;
        END

        -- 5️⃣ Delete ticket
        ELSE IF @ActionType = 5
            DELETE FROM RepairTicket WHERE ticket_id = @ticket_id;

        -- 6️⃣ Update status only
        ELSE IF @ActionType = 6
        BEGIN
            UPDATE RepairTicket
            SET status = @StatusCode
            WHERE ticket_id = @ticket_id;
        END

        -- 7️⃣ Diagnosing tickets (filter by repairman)
        ELSE IF @ActionType = 7
        BEGIN
            SELECT *
            FROM RepairTicket
            WHERE status = 'D'
              AND (@repairman_id IS NULL OR repairman_id = @repairman_id);
        END

        -- 8️⃣ Completed tickets
        ELSE IF @ActionType = 8
            SELECT *
            FROM RepairTicket
            WHERE status = 'C'
              AND (@repairman_id IS NULL OR repairman_id = @repairman_id);

        -- 9️⃣ In progress tickets (filter by repairman)
        ELSE IF @ActionType = 9
        BEGIN
            SELECT *
            FROM RepairTicket
            WHERE status = 'I'
              AND (@repairman_id IS NULL OR repairman_id = @repairman_id);
        END

        -- 🔟 Waiting for parts
        ELSE IF @ActionType = 10
            SELECT *
            FROM RepairTicket
            WHERE status = 'W'
              AND (@repairman_id IS NULL OR repairman_id = @repairman_id);

        -- 1️⃣1️⃣ Assign repairman (admin/coordinator)
        ELSE IF @ActionType = 11
        BEGIN
            UPDATE RepairTicket
            SET repairman_id = @repairman_id
            WHERE ticket_id = @ticket_id;

            SELECT 'Repairman assigned successfully' AS Message;
        END

        -- 1️⃣2️⃣ Get ticket by ID with repairman name
        ELSE IF @ActionType = 12
        BEGIN
            SELECT
                RT.ticket_id,
                RT.brand,
                RT.issue_description,
                RT.customer_name,
                RT.phone_no,
                RT.created_date,
                RT.status,
                RT.repairman_id,
                RM.repairman_name
            FROM RepairTicket RT
            LEFT JOIN Repairman RM
                ON RT.repairman_id = RM.repairman_id
            WHERE RT.ticket_id = @ticket_id;
        END

        -- 1️⃣3️⃣ Returned tickets (filter by repairman)
        ELSE IF @ActionType = 13
        BEGIN
            SELECT *
            FROM RepairTicket
            WHERE status = 'R'
              AND (@repairman_id IS NULL OR repairman_id = @repairman_id)
              AND (@ticket_id IS NULL OR ticket_id = @ticket_id);
        END

        -- 1️⃣4️⃣ Repairman work summary
        ELSE IF @ActionType = 14
        BEGIN
            SELECT
                @repairman_id AS repairman_id,

                (
                    SELECT COUNT(*)
                    FROM RepairTicket
                    WHERE repairman_id = @repairman_id
                      AND status IN ('D','I')
                ) AS AssignedRepairs,

                (
                    SELECT COUNT(*)
                    FROM RepairTicket
                    WHERE repairman_id = @repairman_id
                      AND status = 'C'
                      AND CAST(created_date AS DATE) = CAST(GETDATE() AS DATE)
                ) AS CompletedToday,

                (
                    SELECT COUNT(*)
                    FROM RepairTicket
                    WHERE repairman_id = @repairman_id
                      AND status = 'W'
                ) AS WaitingForParts;
        END

        -- ❌ Invalid action
        ELSE
        BEGIN
            SET @ResultStatusCode = -1;
            SET @Result = 'Invalid ActionType';
        END
    END TRY
    BEGIN CATCH
        SET @ResultStatusCode = -1;
        SET @Result = 'Error occurred';
        SET @ExceptionMessage = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[Teknicity_Supplier]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Teknicity_Supplier]
    @ActionType INT,
    @supplier_id INT = NULL,  
    @company_name NVARCHAR(100) = NULL,
    @phone_no NVARCHAR(15) = NULL,
    @email NVARCHAR(100) = NULL,
    @address NVARCHAR(255) = NULL,
    @parts_specialty NVARCHAR(100) = NULL,
    @ResultStatusCode INT OUTPUT,
    @Result VARCHAR(MAX) OUTPUT,
    @ExceptionMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    BEGIN TRY
        SET @ResultStatusCode = 1;
        SET @Result = 'Success';
        SET @ExceptionMessage = NULL;

        IF @ActionType = 1
            SELECT * FROM Supplier;

        ELSE IF @ActionType = 2
            SELECT * FROM Supplier WHERE supplier_id = @supplier_id;  

        ELSE IF @ActionType = 3
        BEGIN
            INSERT INTO Supplier (company_name, phone_no, email, address, parts_specialty)
            VALUES (@company_name, @phone_no, @email, @address, @parts_specialty);
            
            
            SELECT SCOPE_IDENTITY() AS NewSupplierID;
        END

        ELSE IF @ActionType = 4
            UPDATE Supplier
            SET company_name = @company_name,
                phone_no = @phone_no,
                email = @email,
                address = @address,
                parts_specialty = @parts_specialty
            WHERE supplier_id = @supplier_id;  

        ELSE IF @ActionType = 5
            DELETE FROM Supplier WHERE supplier_id = @supplier_id; 

        ELSE
        BEGIN
            SET @ResultStatusCode = -1;
            SET @Result = 'Invalid ActionType';
            SET @ExceptionMessage = 'Valid values: 1=GetAll, 2=GetByID, 3=Insert, 4=Update, 5=Delete';
        END
    END TRY
    BEGIN CATCH
        SET @ResultStatusCode = -1;
        SET @Result = 'Error occurred';
        SET @ExceptionMessage = ERROR_MESSAGE();
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[Teknicity_SupplierInventory]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Teknicity_SupplierInventory]
    @ActionType INT,                            -- 1=GetAll, 2=GetByID, 3=Insert, 4=Update, 5=Delete
    @inventory_id INT = NULL,
    @part_name NVARCHAR(100) = NULL,
    @category NVARCHAR(50) = NULL,
    @stock_quantity INT = NULL,
    @price DECIMAL(10,2) = NULL,
    @status NVARCHAR(50) = NULL,

    @ResultStatusCode INT OUTPUT,
    @Result VARCHAR(MAX) OUTPUT,
    @ExceptionMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Initialize default outputs
        SET @ResultStatusCode = 1;
        SET @Result = 'Success';
        SET @ExceptionMessage = NULL;

        -- Action Type 1: Get All Inventory
        IF @ActionType = 1
        BEGIN
            SELECT * FROM SupplierInventory;
        END

        -- Action Type 2: Get Inventory by ID
        ELSE IF @ActionType = 2
        BEGIN
            SELECT * 
            FROM SupplierInventory
            WHERE inventory_id = @inventory_id;
        END

        -- Action Type 3: Insert New Inventory Item
        ELSE IF @ActionType = 3
        BEGIN
            INSERT INTO SupplierInventory (part_name, category, stock_quantity, price, status)
            VALUES (@part_name, @category, @stock_quantity, @price, @status);

            SELECT SCOPE_IDENTITY() AS NewInventoryID;
        END

        -- Action Type 4: Update Existing Inventory
        ELSE IF @ActionType = 4
        BEGIN
            UPDATE SupplierInventory
            SET 
                part_name = @part_name,
                category = @category,
                stock_quantity = @stock_quantity,
                price = @price,
                status = @status
            WHERE inventory_id = @inventory_id;
        END

        -- Action Type 5: Delete Inventory by ID
        ELSE IF @ActionType = 5
        BEGIN
            DELETE FROM SupplierInventory
            WHERE inventory_id = @inventory_id;
        END
           -- 6. Get By Part Name
        ELSE IF @ActionType = 6
        BEGIN
            SELECT * 
            FROM SupplierInventory
            WHERE part_name LIKE '%' + @part_name + '%';
        END
        
        ELSE IF @ActionType =7
        BEGIN
              SELECT DISTINCT part_name
             FROM SupplierInventory
             WHERE part_name IS NOT NULL AND part_name <> '';
        END        

        -- Invalid ActionType Handling
        ELSE
        BEGIN
            SET @ResultStatusCode = -1;
            SET @Result = 'Invalid ActionType';
            SET @ExceptionMessage = 'Valid values: 1=GetAll, 2=GetByID, 3=Insert, 4=Update, 5=Delete';
        END
    END TRY

    BEGIN CATCH
        -- Catch block for error handling
        SET @ResultStatusCode = -1;
        SET @Result = 'Error occurred';
        SET @ExceptionMessage = ERROR_MESSAGE();
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[Teknicity_UsageReport]    Script Date: 3/27/2026 9:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Teknicity_UsageReport]
    @ActionType INT,           -- 1=Daily, 2=Monthly, 3=Range, 4=TicketCost
    @Days INT = NULL,
    @Months INT = NULL,
    @StartDate DATETIME = NULL,
    @EndDate DATETIME = NULL,
    @ticket_id INT = NULL,     
    @repair_cycle INT = 1,     -- Default repair cycle = 1

    @ResultStatusCode INT OUTPUT,
    @Result VARCHAR(MAX) OUTPUT,
    @ExceptionMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET @ResultStatusCode = 1;
        SET @Result = 'Success';
        SET @ExceptionMessage = NULL;

        --------------------------------------------------
        -- ACTION TYPE 1 : DAILY REPORT
        --------------------------------------------------
        IF @ActionType = 1
        BEGIN
            SELECT 
                CONVERT(DATE, P.issue_date) AS usage_date,
                I.category,
                P.part_name,
                SUM(P.quantity_used) AS total_used,
                ISNULL(I.stock_quantity, 0) AS current_stock
            FROM dbo.PartUsageLog P
            LEFT JOIN dbo.SupplierInventory I 
                ON P.inventory_id = I.inventory_id
            WHERE P.issue_date >= DATEADD(DAY, -@Days, GETDATE())
            GROUP BY CONVERT(DATE, P.issue_date), I.category, P.part_name, I.stock_quantity
            ORDER BY usage_date DESC, I.category, P.part_name;
            RETURN;
        END

        --------------------------------------------------
        -- ACTION TYPE 2 : MONTHLY REPORT
        --------------------------------------------------
        ELSE IF @ActionType = 2
        BEGIN
            SELECT 
                FORMAT(P.issue_date, 'yyyy-MM') AS usage_month,
                I.category,
                P.part_name,
                SUM(P.quantity_used) AS total_used,
                ISNULL(I.stock_quantity, 0) AS current_stock
            FROM dbo.PartUsageLog P
            LEFT JOIN dbo.SupplierInventory I 
                ON P.inventory_id = I.inventory_id
            WHERE P.issue_date >= DATEADD(MONTH, -@Months, GETDATE())
            GROUP BY FORMAT(P.issue_date, 'yyyy-MM'), I.category, P.part_name, I.stock_quantity
            ORDER BY usage_month DESC, I.category, P.part_name;
            RETURN;
        END

        --------------------------------------------------
        -- ACTION TYPE 3 : DATE RANGE REPORT
        --------------------------------------------------
        ELSE IF @ActionType = 3
        BEGIN
            SELECT 
                CONVERT(DATE, P.issue_date) AS usage_date,
                I.category,
                P.part_name,
                SUM(P.quantity_used) AS total_used,
                ISNULL(I.stock_quantity, 0) AS current_stock
            FROM dbo.PartUsageLog P
            LEFT JOIN dbo.SupplierInventory I 
                ON P.inventory_id = I.inventory_id
            WHERE (@StartDate IS NULL OR P.issue_date >= @StartDate)
              AND (@EndDate IS NULL OR P.issue_date <= @EndDate)
            GROUP BY CONVERT(DATE, P.issue_date), I.category, P.part_name, I.stock_quantity
            ORDER BY usage_date DESC, I.category, P.part_name;
            RETURN;
        END

        --------------------------------------------------
        -- ACTION TYPE 4 : TICKET + REPAIR CYCLE COST
        --------------------------------------------------
        ELSE IF @ActionType = 4
        BEGIN
            IF @ticket_id IS NULL
            BEGIN
                RAISERROR('ticket_id is required for ActionType 4',16,1);
                RETURN;
            END

            -- Validate if ticket and cycle exists
            IF NOT EXISTS (
                SELECT 1 FROM dbo.PartUsageLog
                WHERE ticket_id = @ticket_id
                  AND repair_cycle = @repair_cycle
            )
            BEGIN
                RAISERROR('No parts found for this ticket and repair cycle',16,1);
                RETURN;
            END

            -- Item-wise summary
            SELECT 
                P.ticket_id,
                P.repair_cycle,
                P.part_name,
                SUM(P.quantity_used) AS quantity_used,
                ISNULL(S.price,0) AS unit_price,
                SUM(P.quantity_used * ISNULL(S.price,0)) AS total_price
            FROM dbo.PartUsageLog P
            LEFT JOIN dbo.SupplierInventory S
                ON P.inventory_id = S.inventory_id
            WHERE P.ticket_id = @ticket_id
              AND P.repair_cycle = @repair_cycle
            GROUP BY P.ticket_id, P.repair_cycle, P.part_name, S.price
            ORDER BY P.part_name;

            -- Grand total
            SELECT 
                P.ticket_id,
                P.repair_cycle,
                SUM(P.quantity_used * ISNULL(S.price,0)) AS grand_total
            FROM dbo.PartUsageLog P
            LEFT JOIN dbo.SupplierInventory S
                ON P.inventory_id = S.inventory_id
            WHERE P.ticket_id = @ticket_id
              AND P.repair_cycle = @repair_cycle
            GROUP BY P.ticket_id, P.repair_cycle;
            RETURN;
        END

        --------------------------------------------------
        -- INVALID ACTION TYPE
        --------------------------------------------------
        ELSE
        BEGIN
            RAISERROR('Invalid ActionType. Use 1=Daily, 2=Monthly, 3=Range, 4=TicketCost',16,1);
            RETURN;
        END

    END TRY
    BEGIN CATCH
        SET @ResultStatusCode = -1;
        SET @Result = 'Error';
        SET @ExceptionMessage = ERROR_MESSAGE();
    END CATCH

    SELECT 
        @ResultStatusCode AS ResultStatusCode,
        @Result AS Result,
        @ExceptionMessage AS ExceptionMessage;
END
GO
USE [master]
GO
